# Baspaket för datahantering och analys
numpy==2.3.3
pandas==2.3.3
scipy==1.14.1

# Visualisering
matplotlib==3.10.7
seaborn==0.13.2

# Maskininlärning / linjär algebra
scikit-learn==1.5.2

# Jupyter Notebook (för körning och visning)
jupyterlab==4.4.9
notebook==7.4.7